.banner-home {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/ditaqjzkt/image/upload/v1573243574/IMGP9332_ftkrxq.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-right: 3vw;
  margin-left: 3vw;
}

.banner-home h1 {
  padding-top: 150px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
}

.banner-home p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


