
.nav-link:hover {
  color: rgb(171, 171, 171);
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-transparent {
  // background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 77.6%);
  // background-color: transparent;
  // background-image: url("https://png.pngtree.com/png-vector/20190130/ourlarge/pngtree-literary-leaf-shading-shadingbackgroundtextureleaves-backgroundgreen-leaffresh-png-image_608380.jpg");
  // opacity: 0.7;
}

.spaced-navbar{
  padding-right: 3vw;
  padding-left: 3vw;
  margin: 3vw auto;
}

.hotel-name {
  font-style: italic;
  border-bottom: 1px solid transparent;
  letter-spacing: 1px;
  font-size: 20px
}

